.main_background {
    -fx-background-image: url('/img/background.jpg');
    -fx-background-size: 100% 100%;
}

.text-area  {
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: rgba(53,89,119,0.3);
    -fx-text-fill: white;
}

.text-field .scroll-pane {
    -fx-background-color: transparent;
}

.text-field .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-field .scroll-pane .content{
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: rgb(53,89,119);
    -fx-text-fill: white;
}

.reg_background {
    -fx-background-color: rgb(66,66,68);
}
